#animated-text-strip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  background-color: unset !important;
}
#animated-text-strip .marquee {
  white-space: nowrap;
  animation: marquee 7s linear infinite;
  max-width: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* Styles for the sake of the demonstration */
#animated-text-strip {
  background: white;
 
}
.marquee {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}
