@tailwind base;
@tailwind components;
@tailwind utilities;

/* Phúc start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
  } */

body {
    font-size: 1.125rem;
}

.master-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1332px;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
}

/* .site-header .master-container .flex a img {
    max-width: 100%;
  height: auto;
} */

.site-menu-main {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

#simplify .simplify-text h1 {
    font-size: 120px;
    font-weight: 700;
   
}

#simplify .simplify-text p {
    font-weight: 700;
}

/* button {
    position: relative;
}

button::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

button:hover::after {
    height: 100%;
    color: aliceblue;
} */

.core-features h1 {
    font-size: 5%;
    font-weight: 1000;
}

th {
    position: relative;
}

tr th h3 {
    font-size: 30px;
    transition: 0.3s;
}

tr th p {
    font-size: 20px;
    font-weight: 400;
}

tr th h3:hover {
    color: red;
    cursor: pointer;
}

tr {
    transition: 0.3s;
}

tr:hover {
    background-color: black;
    color: white;
}

tr th .pics {
    position: relative;
}

tr th .pics .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

tr:hover .pics .pic-2 {
    opacity:1
}

tr:hover .pic-1 {
    opacity:0
}


tr th a {
    position: relative;
}

tr th .arrow .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

tr:hover .arrow .img-2 {
    opacity:1
}

tr:hover .img-1 {
    opacity:0
}

.core-features .core-features-info h2 {
    font-size: 80px;
    font-weight: 700;
    padding: 40px;
}

/* .features-table .table-content table {
    border-collapse: separate;
} */

.page-wrapper {
    background-color: #efeae3;
    background-image: linear-gradient(153deg, #efeae3 0%, #fe651f 100%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
}


/* @media (min-width: 1200px) {
    .xl\:max-w-\[980px\] {
        max-width: 980px;
    }
}
@media (min-width: 576px) {
    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.font-semibold {
    font-weight: 600;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* Phúc end */
.max-w-\[700px\] {
    max-width: 700px;
} */

.ap__container h1, .AI__container__info h1, .cost__container h1, .card-content h1{
    font-size: 4.5rem;
    font-weight: bold;
}
.ap__container p, .AI__container__info p, .counting__numbers p{
    font-size: 1.25rem;
}
.AI__container{
    background-color: black;
    /* position: relative; */
}
.play__button{
    background: rgba(0,0,0,.2);
    border: 3px solid black;
    transition: 0.5s;
    
}
.play__button:hover{
    background:#FE330A;
    color: white;
}
.play__button a{
    
    vertical-align: middle;
    line-height: 8rem;    
}
.counting__numbers h1{
    font-size: 6rem;
    font-weight: bold;
    color: #FE330A;
}
.counting__numbers p{
    color: white;
}
.video {
    width: 100%;
    height: 400px;
    margin: auto;
    display: block;
    border: none;
}
.video-popup {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
}
.popup-bg {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}
.popup-content {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
}
.sub__options, .sub__options button {
    box-sizing: border-box;
}
.sub__options{
    margin: 0 auto;
}
.sub__options button{
    width: 100%;
    display: block;
}
.card-content{
    background-color: #EFEAE3;
    padding: 28px;
    border-radius: 8px;
}
.card-content h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.card-content hr{
    border-color: #DBD6CF;
}
.card-content p{
    font-size: 1.1rem;
}
.card-content:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}
.card-content:hover hr{
    border-color: white;
}
.card-content:hover button{
    border-color: red;
}
.sub__button{
    transition: 0.3s;
}
.sub__button:hover{
    background-color: #FE330A;
}
